:root {
--default-font-family: -apple-system;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #2B2D42;
  }
  
* {
margin: 0;
padding: 0;
outline: 0;
border: 0;
}

.wrepper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
    background-color: #2B2D42;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    self-align: flex-start;
}

.name{
    padding: 0px 30px;
    height: 30px;
    width: 150px;
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    color: #8D99AE; 
}
.buttons{
    padding: 0px 30px 0px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 39px;
    width: 50%;
}
.btn{
    position: relative;
    height: 39px;
    font-size: medium;
    font-weight: normal;
}
@media(hover: hover){
    button:hover{
        color: #ffffff;
    }
}
@media(hover: none){
    button:active{
        color: #ffffff;
    }
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    position: relative;
    font-size: normal;  
    color: #8D99AE;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 18px;

}
  
.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: transparent;
}

.RUS-btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #8D99AE;
}

@media(hover: hover){
    .dropdown .dropbtn:hover{
        color: #ffffff;
    }
}
@media(hover: none){
    .dropdown .dropbtn:hover{
        color: #ffffff;
    }
}

@media(hover: hover){
    .RUS-btn:hover{
        color: #ffffff;
    }
}
@media(hover: none){
    .RUS-btn:active{
        color: #ffffff;
    }
}
@media(hover: hover){
    .dropdown:hover .dropdown-content {
        display: block;
        }
}
@media(hover: none){
    .dropdown:active .dropdown-content {
        display: block;
        }
} 
.reg_form{
    position:relative;
    display: grid;
    width: 30%;
    margin: auto;
}
.top_buttns a{
    float: none;
    color: #8D99AE;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
}
.top_buttns{
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 200%;
    font-weight: 600;
}
.curent_page{
    color: #ffffff;
}
.slash{
    color: #8D99AE;
}
@media(hover: hover){
    .top_buttns a:hover{
        color: #ffffff;
    }
}
@media(hover: none){
    .top_buttns a:active{
        color: #ffffff;
    }
}
input{
    padding: 1em;
    width: 90%;
    height: 20%;
    background-color: transparent;
    border: 5px solid #8D99AE; 
    border-radius: 12px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff; 
    font-weight: normal;
    outline: none;  
}
input:focus{
    border-color: #ffffff; 
}
::placeholder{
    position: absolute;
    top: 10px;
    color: #404459;
    opacity: 1;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


.submitt{
    margin: auto;
    cursor: pointer;
    height: 25%;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 20px;
    color: #8D99AE;
}
@media(hover: hover){
    .submitt:hover{
        color: #ffffff;
    }
}
@media(hover: none){
    .submitt:active{
        color: #ffffff;
    }
}

.logo{
    display: flex;
    justify-content: center;
    width: 370px;
    height: 200px;
}

/*# Login */

