:root {
    --default-font-family: "Montserrat"
  }

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
.wrepper{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #171717;
}
.main-container{
    height: 3252px;
    width: 1440px;
    background-image: url(/prsem/public/imgs/lines.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}
body{
    margin: 0;
}

.wrapper{

    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    background-color: #d1d0d0;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;

    margin-top: 0px;
    list-style: none;
}
.nav li { 
    display: inline; 
    
}
ul.nav a {
    display: inline-block;
    width: 10em;
    height: 2em;
    padding: 20px;
    padding-top: 30px;
    background-color: #d1d0d0;

    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #d1d0d0;
}
.container{
    margin-top: 3em;
    margin-left: 2em;
    font-family: monospace;
    font-weight: bold;
    color: #333;
   
    font-size: 24px;

}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    position: relative;
    font-size: 18px;  
    color: white;
    background-color: #171717;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
  
  
.dropdown-content {
display: none;
position: absolute;
background-color: transparent;
min-width: 22px;

}
  
.dropdown-content a {
float: none;
color: #ffffff;
padding: 12px 10px;
text-decoration: none;
display: block;
text-align: left;
background-color: transparent;
}
.ENG-btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}
.RUS-btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    
}
@media(hover: hover){
    .ENG-btn:hover{
        text-decoration: underline;
        color: #ffffff;
    }
}
@media(hover: none){
    .ENG-btn:active{
        text-decoration: underline;
        color: #ffffff;
    }
}
@media(hover: hover){
    .RUS-btn:hover{
        text-decoration: underline;
        color: #ffffff;
    }
}
@media(hover: none){
    .RUS-btn:active{
        text-decoration: underline;
        color: #ffffff;
    }
}
@media(hover: hover){
    .dropdown:hover .dropdown-content {
        display: block;
        }
}
@media(hover: none){
    .dropdown:active .dropdown-content {
        display: block;
        }
}  




