{% extends "layout.html" %}

{% block title %}welcome{% endblock title %}



{% block content %}

    <p>Это страница аналитики</p>

    <h1>Pie Chart</h1>

    <div style="width: 100%; align-items: center; justify-content: center">
        <div style="width: 500px;">
            <div>
                {{ diagrams['pie_chart']['income'][0] | safe }}
            </div>
            <div>
                {{ diagrams['pie_chart']['income'][1] | safe }}
            </div>
            <div>
                {{ diagrams['pie_chart']['income'][2] | safe }}
            </div>
        </div>

        <div style="width: 500px;">
            <div>
                {{ diagrams['pie_chart']['expense'][0] | safe }}
            </div>
            <div>
                {{ diagrams['pie_chart']['expense'][1] | safe }}
            </div>
            <div>
                {{ diagrams['pie_chart']['expense'][2] | safe }}
            </div>
        </div>

        <div style="width: 900px;">
                {{ diagrams['line'][0] | safe }}
        </div>
    </div>
        
      

{% endblock content %}
