{% extends "layout.html" %}

{% block title %}welcome{% endblock title %}



{% block content %}

<div className="budget-message-container">
    <div className="data-insufficient-message">
      <img src="/static/imgs/budget.svg" alt="" className="data-visualization-message" />
      <p className="budget-message-style">not enough data to form the buget</p>
      <p className="transaction-prompt-text-style">
        <span>try to </span>
        <button class = "">add more transactions<buton>
      </p>
    </div>
</div>

{% endblock content %}