<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" href="/static/styles/main.css">
    
</head>
<body>  
    <div class="wrapper">
        <div class="header">
            <img class="name" src="" alt="">
            <div class="butttons">
                <a href=""><button class="" >home</button></a>
                <a href=""><button class="" >transactions</button></a>
                <a href=""><button class="" >analytics</button></a>
                <a href=""><button class="" >buget</button></a>
                <div class="dropdown">
                    <button class="dropbtn">ENG 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#"><button class="ENG-btn" >ENG</button></a>
                      <a href=""><button class="RUS-btn" >RUS</button></a>
                    </div>
                </div>
                <img class="drpdn-arrow" src="" alt=""> 
            </div>
        </div>  
    </div>
    
    {% block content %}{% endblock content %}
    

</body>
</html>