<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" href="/static/styles/main.css">
    
</head>
<body>  
    <div class="starter-container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <img class="logo" src="/static/imgs/logo.svg" alt=""></img>
        <div id="login_page" class="login-page">
            <div class="form">
              <form id="register_form" class="register-form">
                <input type="text" placeholder="Username" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <input type="submit" class="btn" value="Sign up" />
                <p class="message">
                  Already registered?
                  <a href="#">Sign In</a>
                </p>
              </form>
              <form id="login_form" action="#" method="POST" class="login-form">
                <input name="username" id="username" type="text" placeholder="username" />
                <input name="password" id="password" type="password" placeholder="password" />
                <input id="btnLg" type="submit" class="btn" value="Sign in" />
                <p class="message">
                  Not registered?
                  <a href="#">Create an account</a>
                </p>
              </form>
            </div>
          </div>
    </div>
    <script>
        $('.message a').click(function() {
            $('form').animate({
              height: "toggle",
              opacity: "toggle"
            }, "slow");
          });
    </script>
</body>
</html>