{% extends "layout.html" %}

{% block title %}welcome{% endblock title %}

{% block content %}
<div class="wrapper">
    {% if cur_goal > moneybox %}
    <div class="qout"> <p> Embrace the </p> <p class="chelendg"> chаllenge</p> <p class="focus">, focus on the win! </p> </div>
    {% else %}
    <div class="chelendg"> <p> 🎉 You did it !!!🎉 </p> </div>
    {% endif %}
    <div class="main-container">

        <div class="pie-chart" data-cur-goal="{{ cur_goal }}" data-budget="{{ budget }}" data-moneybox="{{ moneybox }}">
            <div class="circle"></div>
            <p class="percenttxt" value="0">0%</p>
        </div>
        
        <div class="info-container">
            <div class="info-block">
                <div class="info-block-content">
                    <h2 class="info-title">Current Goal</h2>
                    <p id="cur_goal" class="info-value">{{ cur_goal }}</p>
                </div>
                <div class="info-block-bg"></div>
            </div>
            <div class="info-block">
                <div class="info-block-content">
                    <h2 class="info-title">Budget</h2>
                    <p class="info-value">{{ budget }}</p>
                </div>
                <div class="info-block-bg"></div>
            </div>
            <div class="info-block">
                <div class="info-block-content">
                    <h2 class="info-title">Moneybox</h2>
                    <p id="moneybox" class="info-value">{{ moneybox }}</p>
                </div>
                <div class="info-block-bg"></div>
            </div>
            <div class="info-block">
                <div class="info-block-content">
                    <h2 class="info-title">Money Left</h2>
                    <p id="money_left" class="info-value">{{ budget - moneybox }}</p>
                </div>
                <div class="info-block-bg"></div>
            </div>
        </div>
        </div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                const pieChartElement = document.querySelector('.pie-chart');
                const curGoalValue = Number(pieChartElement.dataset.curGoal);
                const moneyboxValue = Number(pieChartElement.dataset.moneybox);
                const percentage = curGoalValue > 0 ? (moneyboxValue / curGoalValue) * 100 : 0;
                pieChartElement.style.setProperty('--fill', percentage + '%');
        
                const percenttxtElement = pieChartElement.querySelector('.percenttxt');
                percenttxtElement.textContent = percentage.toFixed(2) + '%';
        
                const moneyLeftElement = document.getElementById('money_left');
                const budgetValue = Number(pieChartElement.dataset.budget);
                moneyLeftElement.textContent = budgetValue - moneyboxValue;
            });
        </script>
        
        
</div>
{% endblock content %}
