{% extends "layout.html" %}

{% block title %}{% endblock title %}

{% block content %}


<form action="/users" method="post">


    <input type="text" id="username" name="username" value="{{ user.username }}">
    <br>

    <input type="password" id="password" name="password" value="{{ user.password }}">
    <br>
    <input type="password" id="password_confirmation" name="password_confirmation"  value="{{ user.password_confirmation }}">
    <br>
    <input type="submit" value="Зарегистрироваться">

    {% if error %}
    <div>
        <p>Error : {{ error }}</p>
    </div>
    {% endif %}

</form>



{% endblock content %}